:root {
  /* COLORS */
  --primary: #203656;
  --secondary: #326fff;
  --disabled: #748296;
  --placeholder: #afb9cf;
  --alert: #f44d8d;
  --footer: #2c4173;
}

body {
  background-image: url(/assets/img/bg-yellow.svg);
  background-position: right 174px;
  background-repeat: no-repeat;
}

.logo {
  margin-top: 80px;
  margin-bottom: 84px;
}

.course-title {
  color: var(--primary);
  width: 517px;
  margin-bottom: 20px;
}

.course-subtitle {
  color: var(--primary);
  margin-bottom: 30px;
}

.course-price {
  text-transform: uppercase;
  color: var(--secondary);
  margin-right: 8px;
}

.course-special-price {
  color: var(--disabled);
  text-decoration-line: line-through;
}

.course-for {
  color: var(--secondary);
  margin-top: 10px 0 24px 0;
}

.course-offer {
  color: var(--primary);
  margin-bottom: 20px;
}

.course-text {
  width: 560px;
  color: var(--disabled);
  margin-bottom: 40px;
}

.bullet-list {
  margin-bottom: 36px;
}

.bullet-icon {
  margin-right: 21px;
}

.bullet-text {
  color: var(--disabled);
  width: 453px;
  line-height: 30px;
}

.form-card {
  width: 350px;
  height: 740px;
  box-shadow: 0px 4px 40px rgba(116, 130, 150, 0.2);
  border-radius: 16px;
  padding: 30px 40px 40px 40px;
  background-color: white;
  margin-left: 150px;
}

.form-title {
  color: var(--disabled);
  width: 350px;
  font-weight: 400;
}

.form-subtitle {
  color: var(--disabled);
  margin-bottom: 20px;
}

.depo-section {
  margin-top: 136px;
}

.first-name {
  margin-top: 36px;
}

.form-button {
  width: 350px;
  height: 52px;
  margin: 0 0 20px 0;
  border-radius: 13px;
  background-color: var(--alert);
  font-weight: 500;
  font-size: 26px;
  line-height: 30px;
  color: white;
}

.form-helper {
  width: 350px;
  color: var(--placeholder);
  font-size: 14px;
  line-height: 16px;
}

.depo-margin {
  margin-right: 188px;
}

.depo-text {
  width: 426px;
  height: 110px;
  color: var(--disabled);
  margin-bottom: 24px;
}

.depo-profile {
  margin-right: 20px;
}

.depo-name {
  color: var(--secondary);
  margin-bottom: 4px;
  font-weight: 500;
}

.depo-company {
  color: var(--placeholder);
}

.offer-section {
  margin: 105px 0 110px 0;
}

.offer {
  color: var(--disabled);
  margin-bottom: 12px;
}

.logo-blue {
  margin-right: 25px;
}

footer {
  width: 100%;
  height: 101px;
  background-color: var(--footer);
}

.logo-footer {
  margin-right: 26px;
}

.copyright {
  color: white;
  margin: 0 188px 0 26px;
}

.footer-tag {
  color: white;
  margin-right: 18px;
}
